[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
python-dotenv = "*"
black = "*"
openai = "*"
beautifulsoup4 = "*"
selenium = "*"
lxml = "*"
python-docx = "*"
docx2txt = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.11"
